* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   
    font-size: 1.0rem;
}
.logo-img {
    width: 8px;  
    height: 8px; 
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    margin-top: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: 20px;
    padding-right: 25px;
}

.nav-links a:hover {
    color: #55b35d;
}



.hero {
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 3rem;
    color: white;
}

.hero-content p {
    font-size: 1.5rem;
    color: white;
    margin: 15px 0;
    object-fit: cover;
    
}

.shop-now-btn {
    padding: 10px 20px;
    background-color: #6a11cb;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #55b35d;
}

.products {
    padding: 40px 0;
    text-align: center;
}

.products h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-container :hover{
    background-color: #55b35d;
}

.product-card {
    background-color: #6a11cb;
    padding: 20px;
    width: 22%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.product-card p {
    font-size: 1.2rem;
    color: white;
}

.product-card button {
    padding: 10px 15px;
    background-color: #55b35d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.product-card button:hover {
    background-color: #6a11cb;
}




@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }

    .product-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
